.container {
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
  align-items: flex-start;
  width: 100%;
}

.label {
  font-weight: 400;
  font-size: 0.8rem;
}

.radioContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.radioLabel {
  display: flex;
  align-items: center;
  width: 30%;
  padding: 1vh;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}
