.postOverlay {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.postOverlay.active {
  visibility: visible;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.postContainer {
  display: flex;
  flex-direction: column;
  padding: 0 1vw;
  border-radius: 10px;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
  height: fit-content;
  min-height: 20vh;
  max-height: 80vh;
  position: relative;
  box-shadow: 0 0px 5px rgba(92, 91, 91, 0.3);
}

.containerActive {
  width: 50%;
  overflow-y: scroll;
}

.contentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.postHeader {
  display: flex;
  gap: 0.4vw;
  border-bottom: 1px solid #f0f2f5;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #ffffff;
  padding-top: 1vh;
}

.headerLeft {
  display: flex;
  gap: 0.4vw;
}

.headerRight {
  margin-left: auto;
  cursor: pointer;
  position: relative;
}

.morePopup {
  position: absolute;
  width: 10vw;
  padding: 1rem;
  right: 0;
  bottom: 100%;
  box-shadow: 0 0px 5px rgba(92, 91, 91, 0.3);
  background-color: #ffffff;
  border-radius: 10px;
  display: none;
}

.moreActive {
  display: block;
}

.profilePicture {
  width: 3rem;
  height: 3rem;
  padding-bottom: 1vh;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.profileAdditionalInfo {
  position: absolute;
  width: 20vw;
  background-color: #ffffff;
  border-radius: 10px;
  z-index: 100000;
  left: -50%;
  box-shadow: 0 0px 5px rgba(92, 91, 91, 0.3);
  padding: 1rem;
  bottom: 100%;
  display: none;
}

.additionalActive {
  display: block;
}

.profileAdditionalTop {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.profileName {
  margin: 0;
  font-size: 1rem;
}

.profileLocation {
  margin: 0;
  font-weight: 300;
}

.textContainer {
  width: 100%;
}

.text {
  text-align: justify;
}

.mediaContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.media {
  box-sizing: border-box;
  margin: 0;
  padding: 0.1rem;
  max-height: 50vh;
  background-color: c;
}

.media img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.media:nth-child(-n + 2) {
  flex: 1;
  min-width: 50%;
}

.media:nth-child(n + 3) {
  max-width: 100%;
  min-width: 33.3%;
  flex: 1;
}

.actionContainer {
  display: flex;
  justify-content: space-between;
  gap: 1vw;
  padding-bottom: 1vh;
}

.actionDesctiption {
  display: flex;
  border-bottom: 2px #f0f2f5 solid;
  padding: 0.5vh 1vh;
  box-sizing: border-box;
  gap: 1vw;
}

.description {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.description:first-child {
  margin-right: auto;
}

.action {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  box-sizing: border-box;
  flex: 1;
  border-radius: 5px;
  transition: backround-color 0.2s ease-in;
  justify-content: center;
  padding: 1vh;
}

.action:hover {
  background-color: #f0f2f5;
}

.actionIcon {
  width: 1.8rem;
  height: 1.8rem;
}

.action h4 {
  display: inline-block;
}

.createCommentContainer {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  /* min-height: 10vh; */
  background-color: #ffffff;
  width: 100%;
  box-sizing: border-box;
  z-index: 2;
  display: none;
}

.commentActive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.createStatusContainer {
  min-height: 5vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5vh 1vw;
  box-sizing: border-box;
  border-top: 2px #f0f2f5 solid;
}

.createStatusContainer h4 {
  font-size: 0.7rem;
  font-weight: 300;
  color: #424345;
  margin-right: auto;
}

.closeReplyBtn {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2vh;
  cursor: pointer;
}

.closeReplyBtn:hover {
  background-color: #f0f2f5;
}

.commentActionContainer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  border-top: 2px #f0f2f5 solid;
  padding: 1vh 0;
}

.commentTextArea {
  flex: 1;
  background-color: #f0f2f5;
  border: none;
  border-radius: 10px;
  width: max-content;
  padding: 1vh;
  min-height: 5vh;
  position: relative;
}

.sendBtn {
  position: absolute;
  bottom: 20%;
  right: 1%;
  display: flex;
  align-items: center;
  border-radius: 50%;
  background-color: #f0f2f5;
  padding: 0.4rem;
  z-index: 3;
}

.sendBtn:hover {
  background-color: #e4e6e9;
}

.sendBtn svg {
  width: 1.3rem;
  height: 1.3rem;
  color: #3d6de9;
}

.imageContainer {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
