.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loadingOverlay {
  width: 50%;
  height: 50%;
  display: flex;
  align-items: start;
  justify-content: center;
}

.loadingOverlay img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}
